<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweet.poato.merchandise.dao.StudentInfoDao">


    <select id="queryStudentInfoPage" resultType="sweet.poato.res.student.StudentPageVO">
        select * from test_student_info
    </select>
</mapper>
